
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
    color: #EB5160;
    background-color: #000500;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

input {
    color: #E4DFDA !important;
    background-color: #282828 !important;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 40px !important;
    border: 0 !important;
}

.footer {
    color: #E4DFDA;
    font-weight: 300;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.result {
    color: #E4DFDA;
    font-weight: 300;
}

tr {
    font-size: 25px;
}

table {
    opacity: 25;
}
